{% extends 'base.html.twig' %}

{% block title %}Hello UserAddAction!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-md-auto">

                <h1>Products:</h1>

                {% if amount|default(null) %}
                    <h3>Available products by category ({{ category_name }}): {{ amount }}</h3>
                {% endif %}

                {% if products|default(null) %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">On stock</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for product in products %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ product.name }}</td>
                                <td>{{ category_name }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.stock ? 'yes' : 'no'}}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}