{% extends 'base.html.twig' %}

{% block title %}Hello UserAddAction!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-md-auto">

                <h1>Add user:</h1>

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form(form) }}
            </div>

        </div>
    </div>

{% endblock %}