{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-md-auto">

                <h1>User Main Page:</h1>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <a
                    href="{{ path('user.add') }}"
                    class="btn btn-primary btn-lg btn-block"
                    role="button" aria-pressed="true"
                >Add user</a>
            </div>

        </div>
    </div>

{% endblock %}
